<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center><a href="/"><img class="banner" src="/public/affordable_header_sm.jpg" alt="Affordable Heating & Air Conditioning" /></a></center>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>

    <p>
        Greeley: 970-352-2820<br/>
        Ft. Collins: 970-223-1433<br/>
        Text: 970-301-0356<br/>
        <a href="mailto:info@affordablehvac.com">info@affordablehvac.com</a>
    </p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
